@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,800;1,400;1,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
    color: black;
}

@layer components {
    .modalWindow {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 50%;
        left: 50%;
        width: 500px;
        min-height: 20px;
        transform: translate(-50%, -50%);
        z-index: 1000;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 25px;
    }

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 10;
    }
}